/* header */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;

  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  gap: 23px;
  font-size: 18px;
  text-transform: lowercase;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  max-width: 240px;
  font-style: normal;
}

.header__address {
  font-size: 18px;
  line-height: 24.3px;
  list-style: none;
}

.address_accent {
  border-bottom: 1px solid black;
  text-decoration: none;
}

/* cover */

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
padding: 165px 0 0 50px;
}

.aligned-text_center {
  padding: 20px 0 0 380px;
}

.aligned-text_right {
  padding: 20px 0 0 663px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  margin: 106px 50px 50px 50px;
}

.description__text {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.letter-spacing-extended {
  letter-spacing: 0.9em;
}

.bet-button {
  color: #FFFFFF;
  background-color: transparent;
  font-size: 22px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
  text-transform: uppercase;
  border: 1px solid #FFFFFF;
  padding: 12px 32px 11px 31px;
}

/* lots */

.lots {
  margin-top: 180px;
}

.lots__heading {
  font-size: 70px;
  font-weight: bold;
  line-height: 100%;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
  padding: 48px 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: normal;
  line-height: 120%;
  
}

.lots__look-more-link {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 100%;
  border-bottom: 1px solid #000000;
  margin-left: 40px;
}