.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;

  padding: 92px 50px 96px 50px;
}

.header__links-list {
  display: flex;
  gap: 23px;

  list-style: circle;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  font-style: normal;
  justify-self: end;
  max-width: 240px;
}

.header__address {
  list-style: none;
  font-size: 18px;
  line-height: 24.3px;
}